h1 {font-size: 60px; text-align: Center; color: red;background-color: black;}
				h2 {font-weight: bold; text-decoration: underline; color: white;
				  background-color: green;}
				h3 {font-style: italic; background-color: yellow;line-height: 1.35; word-spacing: .75em;}
				p {font-varient: small-caps; color: blue;}
				ul {background-color: orange; text-transform: lowercase;text-shadow: 1px 1px 1px #000, 
							   3px 3px 5px blue;line-height: 1.35;}
				ol {color: lightGrey;
				 background-color: white;line-height: 1.35;}
				html {background-color: hsla(303, 85%, 34%, 1);}	